name: Haskell CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - ghc96
          - ghc98
          - ghc910
          - ghc912
        package:
          - mutagen
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: Build package
        run: |
          nix build \
            --print-build-logs \
            --out-link result-${{ matrix.compiler }}-${{ matrix.package }} \
            .#${{ matrix.compiler }}.${{ matrix.package }}
      - name: Create artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.compiler }}-${{ matrix.package }}
          path: result-${{ matrix.compiler }}-${{ matrix.package }}/*
